.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
.slider__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slide {
  opacity: 0;
}
.slide__active {
  height: 300px;
  object-fit: contain;
  transition: 0.7s opacity ease;
  opacity: 1;
}
.minSliderContainer {
  display: none;
}
.minImage {
  object-fit: contain;
  width: 90px;
  height: 90px;
  cursor: pointer;
  opacity: 0.3;
  padding: 0.5rem;
}
.minImage__active {
  border: 1px solid #01559a59;
  opacity: 0.9;
}

.slider__icon {
  width: 100px;
  height: 100px;
  padding: 1rem;
  cursor: pointer;
  color: var(--clr-gray);
}
/* MEDIA QUERIES */
@media (min-width: 500px) {
  .slide__active {
    width: 350px;
  }
}
@media (min-width: 1000px) {
  .minSliderContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .slide__active {
    width: 500px;
    height: 500px;
  }
  .slider__main {
    align-items: flex-end;
  }
}
