.modal {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-x: auto;
  z-index: 1002;
}

.icon {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  color: var(--clr-accent);
  cursor: pointer;
  animation: bounce 5s infinite ease-in-out;
}
.icon__back {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-top: 2rem;
  cursor: pointer;
  color: var(--clr-accent);
  animation: bounce 5s infinite ease-in-out;
}
.favorites__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
@media (min-width: 400px) {
  .favorites__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 1000px) {
  .h1 {
    padding: 0 0 4rem 0;
  }
  .favorites__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (min-width: 1600px) {
  .h1 {
    padding: 0 0 8rem 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media print {
  .modal {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
}
