/* .filterMenu {
  padding: 1.2rem;
} */
.select {
  /* width: 100px;
  height: 20px; */
  outline: none;
  border: none;
  height: 30px;
  width: 165px;
  border-radius: 49px;
  /* background-color: #ebf0fc; */
  border: 1px solid var(--clr-black);
  padding-left: 1rem;
  color: var(--clr-black);
  font-family: var(--ff-regular);
  opacity: 0.5;
}
/* .select > * {
    color: var(--clr-black);
    font-family: var(--ff-regular);
  } */
