.select {
  outline: none;
  border: none;
  height: 30px;
  width: 165px;
  border-radius: 49px;
  background: none;
  border: 1px solid var(--clr-black);
  padding-left: 1rem;
  color: var(--clr-black);
  font-family: var(--ff-regular);
  opacity: 0.5;
  cursor: pointer;
}
