.modal {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-x: auto;
  padding: 2rem;
  z-index: 1003;
}
.modal__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.modal__header_line::before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--clr-accent);
}
.modal__logo_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 2rem;
}
.logo {
  width: 100px;
  object-fit: contain;
}
.modal__img {
  width: 200px;
  height: 200px;
}
.modal__icon {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;

  right: 0;
  top: 3%;
  margin-right: 2rem;
  z-index: 100;
}
.details__logo {
  padding-top: 1rem;
}
.company__details_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-bottom: 1rem;
}
.company__name {
  font-family: var(--ff-heading);
  font-size: var(--fs-h2);
}
.adress {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.nip {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.phone {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.email {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.modal__name {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  padding: 2rem 0 2rem 0;
}
.modal__kod {
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.cena {
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.modal__span {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
}
.modal__opis {
  padding-top: 2rem;
  font-family: var(--ff-regular);
  font-size: var(--fs-opis);
  line-height: 1.3;
  max-width: 600px;
}
.modal__img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.modal__wymiary {
  padding: 1rem 0;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
  text-align: center;
  display: block;
}
.modal__footer::before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--clr-accent);
}
.technologie {
  font-family: var(--ff-heading);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  padding: 1rem 0;
}
.tech__img {
  width: 120px;
  height: 120px;
}
.technologie__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.stan__display {
  width: 250px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.stan__img {
  height: 100px;
  width: 50px;
  object-fit: contain;
}
.dodatkowyStan__container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.dostepnosc {
  /* height: 20px; */
  width: 100px;
  padding: 1rem 0;
}
.slider__container {
  position: relative;
}
.noProduct__overlay {
  opacity: 0.5;
}
.brak__produktu {
  position: absolute;
  /* top: 105%;
  left: 50%;
  transform: translate(-70%, -80%); */
  z-index: 100 !important;
  /* rotate: 40deg; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 40px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: white;
  background-color: #be1616c4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
}
.zestaw__opis {
  font-family: var(--ff-regular);
  font-size: var(--fs-opis);
  line-height: 1.3;
  max-width: 600px;
  padding: 3rem 0 0 0;
}
.zestaw__opis_bold {
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  padding-bottom: 1rem;
}
.zestaw__opis_span {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  padding-bottom: 1rem;
}
.uwaga {
  font-size: var(--fs-uwaga);
}
/* MEDIA QUEIES */
@media (min-width: 500px) {
  .modal {
    padding: 2rem 4rem;
  }
  .modal__icon {
    margin-right: 4rem;
  }
  .modal__img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 800px) {
  .modal {
    padding: 2rem 5rem;
  }
  .modal__icon {
    margin-right: 5rem;
  }
  .modal__img {
    width: 350px;
    height: 350px;
  }

  .details__logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 1.5rem;
  }
  .details__container {
    display: flex;
  }
  .modal__logo_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding-top: 0;
  }
  .modal__opis {
    padding-top: 1rem;
  }

  .modal__icon {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1000px) {
  .modal__img {
    width: 400px;
    height: 400px;
  }
  .modal__wymiary {
    padding-top: 3rem;
  }
}
@media (min-width: 1250px) {
  .moddal__grid_container {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
  .modal__info_container {
    grid-column: 1/4;
    grid-row: 1/5;
  }
  .modal__opis {
    padding-top: 2rem;
  }
  .slider__container {
    grid-column: 4/-1;
    grid-row: 1/5;
  }
  .technologie__wrapper {
    grid-column: 1/4;
    grid-row: 6/7;
  }
  .dodatkowyStan__container {
    /* grid-row: 5/6; */
    grid-column: 1/-1;
  }
  .zestaw__opis {
    grid-column: 1/4;
    grid-row: 5/6;
  }
}
@media (min-width: 1300px) {
  .modal {
    padding: 2rem 8rem;
  }
  .modal__icon {
    margin-right: 8rem;
  }
  .modal__info_container {
    padding-right: 4rem;
  }
  .technologie__container {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1600px) {
  .modal__opis {
    padding-top: 4rem;
  }
}
@media (min-width: 1600px) {
  .modal {
    padding: 2rem 15rem;
  }
  .modal__icon {
    margin-right: 15rem;
  }
  .logo {
    width: 150px;
    height: 90px;
    padding-top: 1rem;
  }
}
@media print {
  .modal {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
}
