.modal {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-x: auto;
  padding: 2rem;
}
.modal__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.modal__header_line::before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--clr-accent);
}
.logo {
  width: 100px;
}
.modal__img {
  width: 200px;
  height: 200px;
}
.modal__icon {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.company__details_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem 0;
}
.company__name {
  font-family: var(--ff-heading);
  font-size: var(--fs-h2);
}
.adress {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.nip {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.phone {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.email {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.modal__name {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  padding: 1rem 0;
}
.modal__kod {
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.cena {
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.modal__span {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
}
.modal__opis {
  padding-top: 2rem;
  font-family: var(--ff-heading);
  font-size: var(--fs-opis);
  line-height: 1.3;
}
.modal__img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.modal__wymiary {
  padding: 1rem 0;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
  text-align: center;
}
.modal__footer::before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--clr-accent);
}
.technologie {
  font-family: var(--ff-heading);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  padding: 1rem 0;
}
.tech__img {
  width: 120px;
  height: 120px;
}
.technologie__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (min-width: 500px) {
  .modal {
    padding: 2rem 4rem;
  }
  .modal__img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 800px) {
  .modal {
    padding: 2rem 5rem;
  }
  .modal__img {
    width: 350px;
    height: 350px;
  }
  .details__container {
    display: flex;
  }
  .details__container > * {
    flex: 1;
  }
  .modal__opis {
    padding-top: 1rem;
  }
  .modal__info_container {
    padding-right: 2rem;
  }
  .modal__icon {
    width: 40px;
    height: 40px;
  }
  .tech__img {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 1000px) {
  .modal__img {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1300px) {
  .modal {
    padding: 2rem 8rem;
  }
  .modal__info_container {
    padding-right: 4rem;
  }
}
@media (min-width: 1600px) {
  /* .modal__img {
    width: 450px;
    height: 450px;
  } */
  .modal__info_container {
    padding: 2rem 8rem 0 0;
  }
  .modal__opis {
    padding-top: 2rem;
  }
}
@media (min-width: 1600px) {
  .modal {
    padding: 2rem 15rem;
  }
  .logo {
    width: 200px;
    padding-top: 1rem;
  }
}
