@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fs-h1: 1rem;
  --fs-h2: 0.9rem;
  --fs-h3: 0.8rem;
  --fs-opis: 0.9rem;
  --fs-text: 0.7rem;

  --ff-regular: "Nunito", sans-serif;
  --ff-heading: "Montserrat", sans-serif;
  --fw-bold: 700;
  --fw-regular: 400;
  --clr-white: #ffffff;
  --clr-black: #323031;
  --clr-accent: #01549a;
}

/* FONT SIZE MEDIA  */
/* 500px */
@media (min-width: 500px) {
  :root {
    --fs-h1: 1.2rem;
    --fs-h2: 1rem;
    --fs-h3: 0.9rem;
    --fs-text: 0.8rem;
    --fs-opis: 1rem;
  }
}
/* 800px */
@media (min-width: 800px) {
  :root {
    --fs-h1: 1.3rem;
    --fs-h2: 1.1rem;
    /* --fs-h3: 1rem; */
    --fs-text: 0.9rem;
    --fs-opis: 1.1rem;
  }
}
@media (min-width: 1000px) {
  :root {
    --fs-h1: 1.4rem;
    --fs-h2: 1.2rem;
    --fs-text: 1rem;
    --fs-opis: 1.2rem;
  }
}
@media (min-width: 1600px) {
  :root {
    --fs-h1: 1.6rem;
    --fs-h2: 1.2rem;
    --fs-text: 1.2rem;
    --fs-opis: 1.3rem;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
}
img {
  width: 100%;
}
.app__layout {
  margin-top: 2rem;
}
.iconify {
  color: rgb(247, 181, 0);
}
.hidden {
  overflow: hidden;
}
.modal__open {
  visibility: visible !important;
}
.hide__cards {
  display: none !important;
}
