.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 400px) {
  .cards__container {
    padding: 3rem;
  }
}
@media (min-width: 1000px) {
  .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
