.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #d3e0fc;
  padding: 1rem;
  gap: 2rem;
  /* min-height: 120px; */
}
.nav__list {
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
}

.nav__button {
  height: 80px;
  width: 80px;
  padding: 1rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 0;
  z-index: 1000;
  color: var(--clr-accent);
}
.next__img {
  position: relative;
  height: 30px;
  width: 150px;
  margin-right: auto;
}
.icons__container {
  display: flex;
  gap: 0.5rem;
}
.social__icon {
  width: 30px;
  height: 30px;
  color: var(--clr-accent);
}
/* .next__logo {
  width: 200px;
  height: 50px;
  width: auto;
  height: auto;
} */
/* .next__img {
  width: 150px;
  height: 150px;
}
.logo {
  width: 200px;
  height: 200px;
} */
/* /////////////////  MEDIA NAV  ///////////////////// */

@media (max-width: 1300px) {
  .nav__list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-color: var(--clr-white);
    opacity: 0.999;
    z-index: 100;
    transform: translateX(+150%);
  }
}
/* DONT SHOW ON DISPLAY MORE THEN 800 PX */
@media (min-width: 1300px) {
  .nav__button {
    display: none;
  }
}
/* ///////////////////////// END OF NAV MEDIA ///////////////////////////*/

/* .nav__container::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--clr-accent);
} */
.logo__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.logo {
  width: 150px;
}
.menuDetails__wrapper {
  width: 100%;
}
.company__details_container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.company__name {
  font-family: var(--ff-heading);
  font-size: var(--fs-h2);
}
.adress {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.nip {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.phone {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.email {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
}
.nav__link {
  font-family: var(--ff-regular);
  font-size: var(--fs-h2);
  /* font-weight: var(--fw-bold); */
  color: var(--clr-black);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.2px;
}
.nav__link:hover {
  color: var(--clr-accent);
  transform: scale(2);
}
/* MEDIA */
@media (min-width: 400px) {
  .next__img {
    height: 40px;
    width: 200px;
  }
}
@media (min-width: 500px) {
  .menuDetails__wrapper {
    flex-direction: row;
  }
  .company__details_container {
    border-left: 2px solid var(--clr-black);
    padding-left: 1rem;
  }
  .next__img {
    height: 50px;
    width: 250px;
  }
}
@media (min-width: 700px) {
  .logo__container {
    display: block;
    margin-right: auto;
    padding-left: 2rem;
  }
  .logo {
    padding-right: 1rem;
  }
}

@media (min-width: 1000px) {
  .nav {
    flex-direction: row;
    padding: 3rem 5rem;
    align-items: center;
  }
  .logo__container {
    padding-left: 5rem;
  }

  .nav__list {
    width: 100%;

    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
@media (min-width: 1300px) {
  .next__img {
    height: 50px;
    width: 350px;
  }
  .nav {
    padding: 3rem 3.5rem;
  }
}
