.footer {
  height: 300px;
  background-color: aquamarine;
  margin-top: 2rem;
}
.footer__logo {
  display: block;
  height: 60x;
  width: 120px;
  object-fit: cover;
  margin: 0 auto;
}
.top__arrow {
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  animation: bounce 2s ease-in-out infinite;
  visibility: visible;
  cursor: pointer;
}
.show__arrow {
  visibility: visible;
}
.arrow__icon {
  width: 30px;
  height: 30px;
  color: var(--clr-accent);
}

@media (min-width: 1000px) {
  .arrow__icon {
    width: 40px;
    height: 40px;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
